body{
    font-family: system-ui;
    background: #f6baed;
    color:rgba(207, 3, 132, 0.381);
    text-align:center;

    h2{
        font-family:monospace;
        color:rgb(207, 3, 132, 0.381);
        background: rgb(14, 125, 140);
    }
}