html {
}

body {
    background-image: url(https://www.xtrafondos.com/wallpapers/vertical/nubes-abstractas-iluminadas-4709.jpg);
    background-repeat: repeat;
    background-size: 25%;
}
h1 {
    color: rgb(29, 15, 106);
    text-align: right;
    font-size: 70px;
    font-style: oblique;
}

h2 {
    color: rgb(67, 33, 219);
    text-align: center;
    font-size: 60px;
    font-style: oblique;
 
}

h3 {
    color:rgb(156, 67, 240);
    text-align: left;
    font-size: 50px;
    font-style: oblique;
}
p {
    font-size: 250%;
    font-style: oblique;
    color:rgb(0, 0, 0);
}